@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import "reset.css";
@import "variables.css";
/*Components*/
@import "components/status-bar.css";
@import "components/nav.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";
@import "components/sign-out.css";
@import "components/splash.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chatroom.css";
* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Outfit", sans-serif;
  padding-top: 22px;
  padding-bottom: 54px;
  color: var(--black);
  background-color: var(--white);
}

.main-screen {
  position: relative;
  padding: 0 var(--horizontal-padding);
}

input {
  font-family: '"Outfit", sans-serif';
}

.screen-subtitle {
  border-top: 1px solid var(--light-gray);
  padding: 13px 0;
  font-size: 13px;
}

.screen-subtitle__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

.screen-subtitle__header__goto-icon {
  display: inline-block;
  margin-left: 2px;
}



.screen-content__content--no-content {
  display: flex;
  padding: 80px 0 98px 0;
  justify-content: center;
  align-items: center;
  color: var(--semi-light-gray);
}