.sign-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: var(--horizontal-padding);
    bottom: calc(54px + var(--horizontal-padding));
    color: var(--peach);
  }
  
  .sign-out span {
    font-size: 12px;
    display: block;
    margin-top: 3px;
  }
  
  .sign-out a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
  }